extends layout
    
block mainSection
    // about
    div(class="about" id="about")
        h3(data-aos='zoom-in') About me
        
        .col-md-6.about-right(data-aos='flip-right')
            img(src='images/about.jpg', alt='')
        .col-md-6.about-left
            h3(data-aos='slide-up') Hello
            p.
                I’m Nirmit Patel and I love coding.
                As a short term goal, I am looking for an opportunity to grow my career with a reputed organization. 
                My vision in life is to make something big in life and bring laurels to the organization I work with. 
                It would be an immense pleasure for me if I am given any opportunity.
            p.
                I believe that there is something to learn from everyone and that is my biggest strength. 
                I like to take up challenges and take the lesson plan from my mistakes. 
                I am a perfectionist and I strive for excellence.
            


            img(src='images/signature.jpg', alt='')
        .clearfix
        // //about

    