extends layout
    
block mainSection
    // about
    div(class="about" id="about")
        h3(data-aos='zoom-in') About me
        .col-md-6.about-left
            h3(data-aos='slide-up') Hello
            p
            | Ut enim ad minima veniam, quis nostrum
            | exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem
            | nisi ut aliquid ex ea commodi consequatur? Quis autem exercitationem ullam corporis suscipit laboriosam,
            | vel eum iure reprehenderit qui in ea voluptate velit
            | esse quam nihil molestiae consequatur, vel illum qui
            | dolorem eum fugiat quo voluptas nulla pariatur.
            p
            | Ut enim ad minima veniam, quis nostrum
            | exercitationem ullam corporis suscipit laboriosam,
            | nisi ut aliquid ex ea commodi consequatur? Quis autem
            | vel eum iure reprehenderit.
            img(src='images/signature.jpg', alt='')
        .col-md-6.about-right(data-aos='flip-right')
            img(src='images/about.jpg', alt='')
        .clearfix
        // //about

    