doctype html
html
  head
    title= title
    block styleSection
        title | My Portfolio        
        // custom-theme
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(name='keywords', content='')
        script(type='application/x-javascript').
          addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
          function hideURLbar(){ window.scrollTo(0,1); }
        // Portfolio-CSS
        link(rel='stylesheet', href='stylesheets/swipebox.css', type='text/css', media='all')
        link(href='stylesheets/aos.css', rel='stylesheet', type='text/css', media='all')
        // //animation effects-css
        link(rel='stylesheet', href='stylesheets/index.css')
        // skills bars CSS
        // custom-theme
        link(href='stylesheets/bootstrap.css', rel='stylesheet', type='text/css', media='all')
        link(href='stylesheets/style.css', rel='stylesheet', type='text/css', media='all')
        // //custom-theme
        // font-awesome-icons
        link(href='stylesheets/font-awesome.css', rel='stylesheet')
        // //font-awesome-icons
        // googlefonts
        link(href='//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese', rel='stylesheet')
        link(href='//fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900&subset=arabic,latin-ext', rel='stylesheet')
        // //googlefonts

  body(id="page-top" data-spy="scroll" data-target=".navbar-fixed-top")
    block headerSection
      include ./partials/header.pug
      
    block mainSection
      

    block footerSection
      include ./partials/footer.pug
      

    
