extends layout

block mainSection   
    // Projects
    div(class="portfolio" id="portfolio")
        h3(data-aos="zoom-in") Projects

        div(class="tabs tabs-style-bar")
            nav
                ul
                    li
                        a(href="#section-bar-1" class="icon icon-box")
                            span Web Design
                    li
                        a(href="#section-bar-1" class="icon icon-box")
                            span Mobile Apps
                    li
                        a(href="#section-bar-1" class="icon icon-box")
                            span UI/UX Design
                    li
                        a(href="#section-bar-1" class="icon icon-box")
                            span Graphic Design

            div(class="content-wrap")

                // Tab-1
                section(id="section-bar-1" class="agileits w3layouts")
                    h4 Web Design
                    div(class="gallery-grids")

                        div(class="col-md-4 col-sm-4 gallery-top")
                            a(href="images/5.jpg" class="swipebox")
                                figure(class="effect-bubba")
                                    img(src="images/5.jpg" alt="" class="img-responsive")
                                    figcaption
                                        h4 Web Design   

                        div(class="col-md-4 col-sm-4 gallery-top")
                            a(href="images/p4.jpg" class="swipebox")
                                figure(class="effect-bubba")
                                    img(src="images/p4.jpg" alt="" class="img-responsive")
                                    figcaption
                                        h4 Web Design                              
                        div(class="col-md-4 col-sm-4 gallery-top")
                            a(href="images/p5.jpg" class="swipebox")
                                figure(class="effect-bubba")
                                    img(src="images/p5.jpg" alt="" class="img-responsive")
                                    figcaption
                                        h4 Web Design
                        div(class="col-md-4 col-sm-4 gallery-top")
                            a(href="images/p6.jpg" class="swipebox")
                                figure(class="effect-bubba")
                                    img(src="images/p6.jpg" alt="" class="img-responsive")
                                    figcaption
                                        h4 Web Design                                
                    
                        div(class="clearfix")
                //Tab-1 End
                
                // Tab-2
                section(id="section-bar-2" class="agileits w3layouts")
                    h4 Mobile Apps
                    div(class="gallery-grids")

                        
                        div(class="col-md-4 col-sm-4 gallery-top")
                            a(href="images/p1.jpg" class="swipebox")
                                figure(class="effect-bubba")
                                    img(src="images/p1.jpg" alt="" class="img-responsive")
                                    figcaption
                                        h4 Mobile Apps

                        div(class="col-md-4 col-sm-4 gallery-top")
                            a(href="images/p2.jpg" class="swipebox")
                                figure(class="effect-bubba")
                                    img(src="images/p2.jpg" alt="" class="img-responsive")
                                    figcaption
                                        h4 Mobile Apps                              
                        div(class="col-md-4 col-sm-4 gallery-top")
                            a(href="images/p3.jpg" class="swipebox")
                                figure(class="effect-bubba")
                                    img(src="images/p3.jpg" alt="" class="img-responsive")
                                    figcaption
                                        h4 Mobile Apps
                                              

                    
                        div(class="clearfix")
                //Tab-2 End

                // Tab-3
                section(id="section-bar-3" class="agileits w3layouts")
                    h4 UI/UX Design
                    div(class="gallery-grids")

                        div(class="col-md-4 col-sm-4 gallery-top")
                            a(href="images/5.jpg" class="swipebox")
                                figure(class="effect-bubba")
                                    img(src="images/5.jpg" alt="" class="img-responsive")
                                    figcaption
                                        h4 UI/UX Design    

                        div(class="col-md-4 col-sm-4 gallery-top")
                            a(href="images/p1.jpg" class="swipebox")
                                figure(class="effect-bubba")
                                    img(src="images/p1.jpg" alt="" class="img-responsive")
                                    figcaption
                                        h4 UI/UX Design 

                        div(class="col-md-4 col-sm-4 gallery-top")
                            a(href="images/p2.jpg" class="swipebox")
                                figure(class="effect-bubba")
                                    img(src="images/p2.jpg" alt="" class="img-responsive")
                                    figcaption
                                        h4 UI/UX Design 


                        div(class="col-md-4 col-sm-4 gallery-top")
                            a(href="images/p3.jpg" class="swipebox")
                                figure(class="effect-bubba")
                                    img(src="images/p3.jpg" alt="" class="img-responsive")
                                    figcaption
                                        h4 UI/UX Design 


                        div(class="col-md-4 col-sm-4 gallery-top")
                            a(href="images/p4.jpg" class="swipebox")
                                figure(class="effect-bubba")
                                    img(src="images/p4.jpg" alt="" class="img-responsive")
                                    figcaption
                                        h4 UI/UX Design                          

                    
                        div(class="clearfix")
                //Tab-3 End

                // Tab-4
                section(id="section-bar-4" class="agileits w3layouts")
                    h4 Graphic Design
                    div(class="gallery-grids")

                        div(class="col-md-4 col-sm-4 gallery-top")
                            a(href="images/p5.jpg" class="swipebox")
                                figure(class="effect-bubba")
                                    img(src="images/p5.jpg" alt="" class="img-responsive")
                                    figcaption
                                        h4 Graphic Design                              

                        div(class="col-md-4 col-sm-4 gallery-top")
                            a(href="images/p6.jpg" class="swipebox")
                                figure(class="effect-bubba")
                                    img(src="images/p6.jpg" alt="" class="img-responsive")
                                    figcaption
                                        h4 Graphic Design 
                        
                        div(class="col-md-4 col-sm-4 gallery-top")
                            a(href="images/p7.jpg" class="swipebox")
                                figure(class="effect-bubba")
                                    img(src="images/p7.jpg" alt="" class="img-responsive")
                                    figcaption
                                        h4 Graphic Design 

                        div(class="col-md-4 col-sm-4 gallery-top")
                            a(href="images/p8.jpg" class="swipebox")
                                figure(class="effect-bubba")
                                    img(src="images/p8.jpg" alt="" class="img-responsive")
                                    figcaption
                                        h4 Graphic Design 


                        div(class="col-md-4 col-sm-4 gallery-top")
                            a(href="images/p9.jpg" class="swipebox")
                                figure(class="effect-bubba")
                                    img(src="images/p9.jpg" alt="" class="img-responsive")
                                    figcaption
                                        h4 Graphic Design 
                        div(class="col-md-4 col-sm-4 gallery-top")
                            a(href="images/p10.jpg" class="swipebox")
                                figure(class="effect-bubba")
                                    img(src="images/p10.jpg" alt="" class="img-responsive")
                                    figcaption
                                        h4 Graphic Design 
                        div(class="clearfix")
                //Tab-4 End

 
            //Content

        // Tabs End
    
    //Projects
    