extends layout

block mainSection
    //skills
    div(class="skills" id="skills")
        div(class="container")
            h3(data-aos="zoom-in") Services
            div(class="skill-grids")
                div(class="col-md-6 skill-grids-left")
                    div(data-aos="flip-left" class="col-md-6 w3labout-img")
                        div(class="boxw3-agile")
                            img(src="images/html5.png" alt="" class="img-responsive")
                            div(class="agile-caption")
                                h3 Html5
                                
                
                    div(data-aos="flip-left" class="col-md-6 w3labout-img")
                        div(class="boxw3-agile")
                            img(src="images/bootstrap5.png" alt="" class="img-responsive")
                            div(class="agile-caption")
                                h3 Bootstrap 5
                                
                    div(class="clearfix")
                    
                    div(data-aos="flip-left" class="col-md-6 w3labout-img")
                        div(class="boxw3-agile")
                            img(src="images/node.jpg" alt="" class="img-responsive")
                            div(class="agile-caption")
                                h3 Node Js
                    
                
                    div(data-aos="flip-left" class="col-md-6 w3labout-img")
                        div(class="boxw3-agile")
                            img(src="images/js.jpg" alt="" class="img-responsive")
                            div(class="agile-caption")
                                h3 Javascript
                   
                    div(class="clearfix")
                    


                div(class="col-md-6 skill-grids-right")
                        
                    // Skills
                    div(class="skillbar clearfix " data-percent="80%")
                        div(class="skillbar-title" style="background: #ff9900;")
                            span HTML5
                        div(class="skillbar-bar" style="background: #ff9900;")
                        div(class="skill-bar-percent") 80%
                    //End Skill Bar

                     // Skills
                    div(class="skillbar clearfix " data-percent="60%")
                        div(class="skillbar-title" style="background: #8e43e7;")
                            span Bootstrap 5
                        div(class="skillbar-bar" style="background: #8e43e7;")
                        div(class="skill-bar-percent") 60%
                    //End Skill Bar 


                    // Skills
                    div(class="skillbar clearfix " data-percent="75%")
                        div(class="skillbar-title" style="background: #11b563;")
                            span Node Js
                        div(class="skillbar-bar" style="background: #11b563;")
                        div(class="skill-bar-percent") 75%
                    //End Skill Bar

                    // Skills
                    div(class="skillbar clearfix " data-percent="70%")
                        div(class="skillbar-title" style="background: #f1c026;")
                            span Javascript
                        div(class="skillbar-bar" style="background: #f1c026;")
                        div(class="skill-bar-percent") 70%
                    //End Skill Bar 

                   

                    

                    p(class="p1").
                        Developing a website is turning a dream into reality for any business. 
                        Your website should work as hard as you do to fetch great revenue to your business.
                    p(class="p1").
                        Our enthusiastic and talented developers will help you create a platform of web presence to get in touch with more and more customers. 
                        
                    
                    div(class="clearfix")
    //skils