extends layout

block mainSection
    //skills
    div(class="skills" id="skills")
        div(class="container")
            h3(data-aos="zoom-in") Services
            div(class="skill-grids")
                div(class="col-md-6 skill-grids-left")
                    div(data-aos="flip-left" class="col-md-6 w3labout-img")
                        div(class="boxw3-agile")
                            img(src="images/s1.jpg" alt="" class="img-responsive")
                            div(class="agile-caption")
                                h3 Html5
                                p Lorem ipsum dolor sit amet.
                
                    div(data-aos="flip-left" class="col-md-6 w3labout-img")
                        div(class="boxw3-agile")
                            img(src="images/s2.jpg" alt="" class="img-responsive")
                            div(class="agile-caption")
                                h3 Html5
                                p Lorem ipsum dolor sit amet.
                    div(class="clearfix")
                    
                    div(data-aos="flip-left" class="col-md-6 w3labout-img")
                        div(class="boxw3-agile")
                            img(src="images/s3.jpg" alt="" class="img-responsive")
                            div(class="agile-caption")
                                h3 Html5
                                p Lorem ipsum dolor sit amet.
                
                    div(data-aos="flip-left" class="col-md-6 w3labout-img")
                        div(class="boxw3-agile")
                            img(src="images/s4.jpg" alt="" class="img-responsive")
                            div(class="agile-caption")
                                h3 Html5
                                p Lorem ipsum dolor sit amet.
                    div(class="clearfix")
                    


                div(class="col-md-6 skill-grids-right")
                        
                    // Skills
                    div(class="skillbar clearfix " data-percent="80%")
                        div(class="skillbar-title" style="background: #ff4f81;")
                            span HTML5
                        div(class="skillbar-bar" style="background: #ff4f81;")
                        div(class="skill-bar-percent") 80%
                    //End Skill Bar

                    // Skills
                    div(class="skillbar clearfix " data-percent="75%")
                        div(class="skillbar-title" style="background: #ff9900;")
                            span HTML5
                        div(class="skillbar-bar" style="background: #ff9900;")
                        div(class="skill-bar-percent") 75%
                    //End Skill Bar 

                    // Skills
                    div(class="skillbar clearfix " data-percent="60%")
                        div(class="skillbar-title" style="background: #8e43e7;")
                            span HTML5
                        div(class="skillbar-bar" style="background: #8e43e7;")
                        div(class="skill-bar-percent") 60%
                    //End Skill Bar 

                    // Skills
                    div(class="skillbar clearfix " data-percent="40%")
                        div(class="skillbar-title" style="background: #146eb4;")
                            span HTML5
                        div(class="skillbar-bar" style="background: #146eb4;")
                        div(class="skill-bar-percent") 40%
                    //End Skill Bar 

                    // Skills
                    div(class="skillbar clearfix " data-percent="75%")
                        div(class="skillbar-title" style="background: #11b563;")
                            span HTML5
                        div(class="skillbar-bar" style="background: #11b563;")
                        div(class="skill-bar-percent") 75%
                    //End Skill Bar

                    p(class="p1").
                        Etiam sit amet porttitor nulla. Nullam tincidunt lectus vel euismodpulvi nar. 
                        Aenean a facilisis augue, at convallis lacus. Interdum et malesuada fames ac ante
                        ipsum primis in faucibus. Praesent faucibus massa elit, vitae ultrices libero dapibus nec. 
                        Maecenas cursus rutrum odio ut convallis.
                    
                    div(class="clearfix")
    //skils